{% extends 'base-admin.html.twig' %}

{% block title %}Edit Categorie{% endblock %}

{% block body %}
    <h1>Edit Categorie</h1>

    {{ include('admin/categorie/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a class="btn btn-blanc" href="{{ path('app_admin_categorie_index') }}"><< Retourner à la liste</a>

    {{ include('admin/categorie/_delete_form.html.twig') }}
{% endblock %}
