{% extends 'base-admin.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}

    <h1>Créer une catégorie</h1>

    {{ include('admin/categorie/_form.html.twig') }}

    <a class="btn btn-blanc" href="{{ path('app_admin_categorie_index') }}"><< Retourner à la liste</a>

{% endblock %}
