<footer>
    <div class="container">
        <div>
            <h3>Plan du site</h3>
            <ul>
                <a href="{{ path('app_home') }}">
                    <li>Accueil</li>
                </a>
                <a href="{{ path('app_projet_index') }}">
                    <li>Portfolio</li>
                </a>
                <a href="{{ path('app_contact') }}">
                    <li>Contact</li>
                </a>
            </ul>
        </div>
        <div>
            <div>
                <h3>Liens</h3>
                <ul>
                    <a href="https://www.etsy.com/fr/shop/NewennTurbiau?ref=seller-platform-mcnav">
                        <li>Etsy</li>
                    </a>
                    <a href="https://github.com/newennT">
                        <li>Github</li>
                    </a>
                    <a href="https://www.instagram.com/newenn.t/">
                        <li>Instagram</li>
                    </a>
                    <a href="https://www.linkedin.com/in/newenn-turbiau-601a861b7/">
                        <li>LinkedIn</li>
                    </a>
                </ul>
            </div>
        </div>
        <div>
            <ul>
                <a href="{{ path('app_mentions_legales')}}">
                    <li>Mentions légales</li>
                </a>
            </ul>
        </div>
    </div>

    <div class="copyright">Copyright 2025 - Newenn Turbiau - Tout droit réservé</div>
</footer>