<footer>
    <div class="container">
        <div>
            <h3>Plan du site</h3>
            <ul>
                <li>Accueil</li>
                <li>Portfolio</li>
                <li>Contact</li>
            </ul>
        </div>
        <div>
            <div>
                <h3>Liens</h3>
                    DDDDDDD
            </div>
        </div>
        <div>
            <ul>
                <li>Mentions légales</li>
                <li>Politique de confidentialité</li>
            </ul>
        </div>
    </div>
</footer>