<header>
    <div id="bouton-header">
        <span class="line">MENU</span>
    </div>

    <div class="menu-contenu">
        <ul>
            <a href="{{ path('app_home') }}"><li><span class="line">Accueil</span></li></a>
            <a href="{{ path('app_projet_index') }}"><li><span class="line">Portfolio</span></li></a>
            <a href="#"><li><span class="line">Services</span></li></a>
            <a href="#"><li><span class="line">Contact</span></li></a>
        </ul>
    </div>
</header>