<nav>
    <div class="container">
        <ul>
            <li><a href="{{ path('app_admin_categorie_index')}}">Catégories</a></li>
            <li><a href="{{ path('app_admin_projet_index')}}">Projets</a></li>
            <li><a href="{{ path('app_admin_image_index')}}">Images</a></li>
        </ul>
    </div>
</nav>