<header>
    <nav>
        <ul>
            <a href="#"><li>Accueil</li></a>
            <a href="#"><li>Portfolio</li></a>
            <a href="#"><li>Contact</li></a>
        </ul>
    </nav>
</header>