<header>
    <ul>
        <a href="{{ path('app_home') }}"><li>Accueil</li></a>
        <a href="{{ path('app_projet_index') }}"><li>Portfolio</li></a>
        <a href="#"><li>Services</li></a>
        <a href="#"><li>Contact</li></a>
    </ul>
</header>