#anim02{
    width: 12vw;
    position: fixed;
    top: 10%;
    right: 20%;
    z-index: 10;
  }

  @media screen and (max-width: 992px){
    #anim02{
      width: 22vw;
      top: 5%;
      right: 10%;
    }
  }