.bouton{
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-family: 'Bion-Bold', sans-serif;
}

.bouton1{
    margin-top: 150px;
    width: 130px;
    height: 130px;
    background-color: #ffffff;
    color: #090020;
    border: #ffffff 2px solid;
    &:hover{
        background-color: #090020;
        color: #ffffff;
    }
}
.bouton2{
    margin-left: 130px;
    margin-top: 50px;
    width: 75px;
    height: 75px;
    background-color: #41338a;
    color: #ffffff;
    border: #41338a solid 2px;
    &:hover{
        background-color: #090020;
        border: #ffffff solid 2px;
    }
}

a{
    text-decoration: none;
}


.service .bouton{
    display: inline-flex;
    background-color: #41338a;
    width: 80px;
    height: 80px;
    border: #41338a solid 2px;
    color: #ffffff;
  
}


@keyframes float1 {
    0% {
        transform: translateX(-15px) translateY(-30px);
    }
    25% {
        transform: translateX(30px) translateY(20px);
    }
    50% {
        transform: translateX(-20px) translateY(40px);
    }
    75% {
        transform: translateX(40px) translateY(-10px);
    }
    100% {
        transform: translateX(-50px) translateY(-30px);
    }
  }
  
  .service .bouton:hover{
    background-color: #41338a00;
    border: #ffffff solid 2px;
    animation-play-state: paused;
  }
  
  .service1 .bouton{
    margin-left: 50px;
    margin-top: 10px;
    animation: float1 10s ease-in-out infinite alternate;
  }
  
  .service2 .bouton{
    margin-left: 200px;
    margin-top: 100px;
    animation: float2 10s ease-in-out infinite alternate;
  }
  
  .service3 .bouton{
    margin-left: 300px;
    margin-top: 0px;
    animation: float3 10s ease-in-out infinite alternate;
  }
  
  .service4 .bouton{
    margin-left: 350px;
    margin-top: 30px;
    animation: float4 10s ease-in-out infinite alternate;
  }
  
  @keyframes float2 {
    0% {
        transform: translateX(70px) translateY(-30px);
    }
    35% {
        transform: translateX(-30px) translateY(-20px);
    }
    60% {
        transform: translateX(50px) translateY(40px);
    }
    85% {
        transform: translateX(40px) translateY(-10px);
    }
    100% {
        transform: translateX(-50px) translateY(30px);
    }
  }
  
  @keyframes float3 {
    0% {
        transform: translateX(30px) translateY(-50px);
    }
    25% {
        transform: translateX(-30px) translateY(-20px);
    }
    50% {
        transform: translateX(60px) translateY(40px);
    }
    70% {
        transform: translateX(60px) translateY(-50px);
    }
    100% {
        transform: translateX(-20px) translateY(15px);
    }
  }
  
  
  @keyframes float4 {
    0% {
        transform: translateX(-75px) translateY(-50px);
    }
    25% {
        transform: translateX(50px) translateY(-10px);
    }
    40% {
        transform: translateX(-30px) translateY(40px);
    }
    65% {
        transform: translateX(-40px) translateY(-20px);
    }
    100% {
        transform: translateX(-100px) translateY(-30px);
    }
  }



.bouton{
    display: inline-flex;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    color: #41338a;
    border: #41338a solid 2px;
    margin-left: 100px;
    margin-top: 50px;
    &:hover{
        background-color: #ffffff00;
        color: #ffffff;
        border: #ffffff solid 2px;
    }
}