{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<div class="container">
    <div class="contact-section01">
        <div class="mots">
            {# Mots qui défilent en scroll horizontal #}
            <span>Commande d'illustration</span>
            <span>Création de logo</span>
            <span>Support de communication</span>
            <span>Conception de site web</span>
        </div>
        

        <p>Vous avez un projet de création de logo, site web, ou autre support de communication, et souhaitez obtenir un devis de graphiste ? Ou bien vous souhaitez vous informer avant de vous lancer ?</p>
        <p>newennturbiau-graphisme[at]gmail.com</p>

    </div>

    <div class="contact-section02">
    <h2>Mes services</h2>
        {# scroll horizontal des services avec carrousel photos des réalisations et lien vers le portfolio #}
    </div>
</div>


{% endblock %}
