<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} - Newenn Turbiau - Graphiste freelance Rennes</title>
        <link rel="icon" href="{{ asset('img/favicon-portfolio.svg') }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% include "partials/header-admin.html.twig" %}

        <main>
            <div class="container">

                {% block body %}{% endblock %}
            
            </div>
       </main>
    </body>
</html>
