@use "../base/variables" as *;

footer{
    position: relative;
    z-index: 200000;
    margin-top: 100px;
    padding: 50px 0;
    background-image: url('/img/footer.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    .container{
        display: flex;
        justify-content: space-between;
    }
    ul{
        list-style-type: none;
        padding: 0;
        li, a{
            color: #ffffff;
            &:hover{
                color: $bleu;
            }

        }
        li{
            font-size: 15px;
        }
    }
}


@media screen and (max-width: 768px){
    footer{
        .container{
            display: flex;
            flex-direction: column;
        }
        ul{
            margin-bottom: 30px;
        }
    }
}