@use "../base/variables" as *;

header{
    position: fixed;
    z-index: 2000000;
    top: 2%;
    left: 5%;
    opacity: 0;
    font-size: 15px;
    ul{
        list-style-type: none;
        padding: 0;
        display: flex;
        li{
            margin-left: 40px;
        }
        a{
            color: #ffffff;
            &:hover{
                color: $bleu;
            }
        }
    }
  }