{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block metadescription %}Découvrez mes réalisations dans les domaines suivants :  {% for categorie in categories %}{{ categorie.nom }}{% endfor %}{% endblock %}

{% block metaimage %}{{ absolute_url(asset('img/favicon-portfolio.svg')) }}{% endblock %}
{% block metadescriptionimage %}Webdesigner freelance Rennes{% endblock %}

{% block body %}

<div class="container">
    <div class="categories-section">
        <h1>Liste des catégories</h1>

            {% for categorie in categories %}

            <a href="{{ path('app_categorie_show', {'slug': categorie.slug}) }}">
                <p class="categorie-item">
                    <span class="line">{{ categorie.nom }}</span>
                </p>
            </a>
            

            {% endfor %}
    </div>
</div>

{% endblock %}
