{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}

<div class="container apparition-header">
    <div class="categories-section">
        <h1>Liste des catégories</h1>

            {% for categorie in categories %}

            <a href="{{ path('app_categorie_show', {'slug': categorie.slug}) }}">
                <p class="categorie-item">
                    <span class="line">{{ categorie.nom }}</span>
                </p>
            </a>
            

            {% endfor %}
    </div>
</div>

{% endblock %}
