{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}

<div class="container mentions">
    <h1>Mentions légales</h1>

    <h2>Éditeur du site</h2>
    <p>
        <ul>
            <li>Nom : Newenn Turbiau</li>
            <li>Email : graphisme.newennturbiau@gmail.com</li>
            <li>Site Web : https://newennturbiau-graphisme.com</li>
        </ul> 
    </p>

    <h2>Hébergement</h2>
    <p>
        <ul>
            <li>Nom de l'hébergeur : Planethoster</li>
            <li>Adresse de l'hébergeur : 4416 Louis-B.-Mayer – Laval, Québec – Canada – H7P 0G1</li>
            <li>Téléphone Paris : +33 1 76 60 41 43</li>
        </ul> 
    </p>

    <h2>Propriété intellectuelle</h2>
    <p>L’ensemble des contenus présents sur ce site (textes, images, logos, etc.) est la propriété exclusive de Newenn Turbiau sauf mention contraire. Toute reproduction, distribution ou modification sans autorisation préalable est interdite.</p>

    <h2>Responsabilité</h2>
    <p>e site a pour objectif de présenter les travaux et réalisations de Newenn Turbiau. Les informations fournies sont indicatives et peuvent être modifiées sans préavis. L’éditeur ne saurait être tenu responsable des erreurs ou omissions, ni des dommages résultant de l’utilisation du site.</p>

    <h2>Politique de confidentialité</h2>
    <p>Ce site ne collecte ni ne traite aucune donnée personnelle. Aucun cookie de suivi ou de publicité n’est utilisé. Les éventuels liens vers des sites tiers ne relèvent pas de la responsabilité de l’éditeur.</p>

    <h2>Contact</h2>
    <p>Pour toute question relative au site, vous pouvez nous contacter à l’adresse suivante : graphisme.newennturbiau@gmail.com</p>
</div>
{% endblock %}
