@use "../base/variables" as *;

.categories-section{
    position: relative;
    z-index: 10006;
    margin-top: 100px;
    min-height: 80vh;
    h1{
        font-size: 80px;
        text-align: center;
    }
    a{
        color: #ffffff;
        p{
            font-size: 25px;
            text-align: center;
            margin-bottom: 50px;
        }
    }
    .line{
        display: inline-block;
        position: relative;
        z-index: 10002;
    }

    a .line::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 45%;
        width: 10px;
        height: 10px;
        background: $bleu;
        z-index: -1;
        opacity: 0;
        border-radius: 50%;
        transform: scale(0); 
        transform: translate(-50%, -50%) scale(0);
        transition: transform 0.3s ease-out, opacity 1s ease;
        }
    
    a .line:hover::after {
        transform: translate(-50%, -50%) scale(13);
        opacity: 0.9;
    }
}

.categorie-show{
    position: relative;
    z-index: 10007;
    margin-top: 100px;
    h1{
        font-size: 50px;
        text-align: center;
    }
    .container-custom{
        width: 95%;
        margin: auto;
    }
    .projets{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        .projet{
            position: relative;
            width: 100%;
            aspect-ratio: 1 / 1;
            overflow: hidden;
            .overlay{
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                background-color: #424afa;
                opacity: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                transform: translate(-50%, -50%) scale(0);
                transition: transform 1s ease, opacity 1s ease;
                p{
                    color: #ffffff;
                    font-family: 'Bion-bold', sans-serif;
                    font-size: 13px;
                }
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &:hover .overlay{
                opacity: 0.8;
                transform: translate(-50%, -50%) scale(2);
            }

            
        }
    }
    .navigation{
        display: flex;
        width: 50%;
        margin: auto;
        margin-top: 100px;
        justify-content: space-between;
        font-size: 22px;
        a{
            color: #ffffff;
            text-align: center;
        }
        .line{
            display: inline-block;
            position: relative;
            z-index: 10002;
        }
    
        a .line::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 45%;
            width: 10px;
            height: 10px;
            background: $bleu;
            z-index: -1;
            opacity: 0;
            border-radius: 50%;
            transform: translate(-50%, -50%) scale(0);
            transition: transform 0.3s ease-in-out, opacity 1s ease;
            }
        
        a .line:hover::after {
            transform: translate(-50%, -50%) scale(13);
            opacity: 0.9;
        }
    }
}

@media screen and (max-width: 1200px){
    .categorie-show{
        .projets{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (max-width: 768px){
    .categories-section{
        h1{
            font-size: 50px;
        }
    }
    .categorie-show{
        .projets{
            grid-template-columns: repeat(1, 1fr);
        }
        .navigation{
            width: 100%;
            flex-direction: column;
        }
    }
}