@use "../base/variables" as *;

// Général
.contact-section01, .contact-section02, .contact-section03, h1{
    position: relative;
    z-index: 10062;
}


// Partie 1
.contact-h1{
    font-size: 80px;
    margin-top: 80px;
    text-align: center;
}

.contact-section01{
    padding-top: 80px;
    margin-right: -100vw;
    height: 50vh;
    .mots{
        .mot{
            font-size: 70px;
            margin: 0;
        }
        #mot01{
            margin-left: -8vw;
        }
        #mot02{
            margin-left: 30vw;
        }
        #mot03{
            margin-left: -10vw;
        }
        #mot04{
            margin-left: 30vw;
        }
    }
}

#contact01{
    width: 50%;
    position: absolute;
    top: -25%;
    right: -20%;
    z-index: 10050;
}

.contact-separateur{
    position: relative;
    z-index: 10050;
    width: 100%;
    margin-bottom: 100px;
    margin-left: -50%;
}

@media screen and (max-width: 1200px){
    .contact-h1{
        font-size: 70px;
    }
    
    .contact-section01{
        padding-top: 60px;
        .mots{
            .mot{
                font-size: 60px;
            }
            #mot04{
                margin-left: 25vw;
            }
        }
    }
    
    #contact01{
        width: 60%;
        top: -20%;
        right: -20%;
    }
    
    .contact-separateur{
        margin-left: -25%;
    }
}

@media screen and (max-width: 992px){
    .contact-h1{
        font-size: 60px;
    }
    
    .contact-section01{
        padding-top: 50px;
        .mots{
            .mot{
                font-size: 50px;
            }
            #mot01{
                margin-left: -10vw;
            }
            #mot02{
                margin-left: 30vw;
            }
            #mot03{
                margin-left: -15vw;
            }
            #mot04{
                margin-left: 30vw;
            }
        }
    }
    
    #contact01{
        width: 65%;
        top: -30%;
        right: -19%;
    }
}

@media screen and (max-width: 764px){
    .contact-h1{
        font-size: 50px;
    }
    .contact-section01{
        .mots{
            .mot{
                font-size: 50px;
            }
            #mot01{
                margin-left: -30vw;
            }
            #mot03{
                margin-left: -35vw;
            }
        }
    }
    #contact01{
        width: 65%;
        top: -20%;
        right: -15%;
    }
    .contact-separateur{
        margin-left: 0;
        width: 120%;
    }
}

@media screen and (max-width: 567px){
    .contact-h1{
        margin-top: 150px;
        height: auto;
    }
    .contact-section01{
        .mots{
            .mot{
                font-size: 25px;
                margin-bottom: 50px;
            }
            #mot01{
                margin-left: 0;
            }
            #mot02{
                margin-left: 20px;
            }
            #mot03{
                margin-left: 0;
            }
            #mot04{
                margin-left: 40px;
            }
        }
    }
    #contact01{
        width: 90%;
        top: -15%;
        right: -30%;
    }
    .contact-separateur{
        width: 200%;
    }
}

// Partie 2
.contact-section02{
    div{
        width: 50%;
        a{
            color: #ffffff;
            text-decoration: underline;
            &:hover{
                color: $bleu;
            }
        }
        span{
            font-family: 'Bion-bold', sans-serif;
        }
        .adresse-mail{
            margin-top: 50px;
            font-size: 23px;
            font-family: 'Bion-bold', sans-serif;
        }
    }
}

@media screen and (max-width: 1200px){
    .contact-section02{
        div{
            width: 75%;
        }
    }
}

@media screen and (max-width: 992px){
    .contact-section02{
        div{
            width: 80%;
        }
    }
}

@media screen and (max-width: 764px){
    .contact-section02{
        div{
            width: 100%;
        }
    }
}

@media screen and (max-width: 567px){
    .contact-section02{
        div{
            .adresse-mail{
                font-size: 18px;
            }
        }
    }
}


// Partie 3
.contact-section03{
    margin-top: 150px;
    h2{
        font-size: 80px;
        margin-top: 20px;
        text-align: center;
        font-family: 'Bion-bold', sans-serif;
    }
    .services{
        .liste-services{
            display: flex;
            width: 400vw;
            .service{
                width: 100vw;
                height: 77vh;
                display: flex;
                justify-content: space-between;
                flex-shrink: 0;
                .texte{
                    width: 45%;
                    .texte-container{
                        width: 75%;
                        margin-left: 150px;
                        margin-top: 80px;
                        h3{
                            font-family: 'Bion-bold', sans-serif;
                            font-size: 40px;
                            margin-bottom: 20px;
                        }
                    }
                }
                .image{
                    overflow: hidden;
                    width: 50%;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1200px){
    .contact-section03{
        h2{
            font-size: 70px;
        }
        .services{
            .liste-services{
                .service{
                    .texte{
                        width: 45%;
                        .texte-container{
                            width: 75%;
                            margin-left: 100px;
                            h3{
                                font-size: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px){
    .contact-section03{
        h2{
            font-size: 50px;
        }
        .services{
            .liste-services{
                .service{
                    justify-content: start;
                    flex-direction: column-reverse;
                    .texte{
                        width: 100%;
                        height: 45%;
                        .texte-container{
                            width: 80%;
                            margin: auto;
                            margin-top: 60px;
                            h3{
                                font-size: 30px;
                            }
                        }
                    }
                    .image{
                        width: 100%;
                        height: 55%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 764px){
    .contact-section03{
        .services{
            .liste-services{
                .service{
                    .texte{
                        .texte-container{
                            font-size: 15px;

                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 567px){
    .contact-section03{
        .services{
            .liste-services{
                flex-direction: column;
                overflow-x: auto;
                scroll-snap-type: x mandatory;
                .service{
                    margin-top: 100px;
                    scroll-snap-align: start;
                    .texte{
                        .texte-container{
                            width: 95%;
                            margin-top: 30px;
                        }
                    }
                }
            }
        }
    }
}