@use "../base/variables" as *;

.section01{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    .image{
        position: relative;
        z-index: 10055;
        width: 50%;
        background-color: $bleu;
    }
    .texte{
        width: 50%;
        margin-top: 50px;
        position: relative;
        z-index: 10056;
        h1{
            font-size: 70px;
            margin-bottom: 20px;
            position: relative;
            z-index: 10000;
            margin-right: -100px;
            margin-left: 40px;
        }
        h2{
            font-size: 40px;
            margin-top: 0;
            z-index: 10001;
        }
        .paragraphe{
            position: absolute;
            margin-left: 40px;
            z-index: 10002;
            bottom: 10px;
            font-size: 15px;
        }
    }
}


@media screen and (max-width: 1400px){
    .section01{
        .texte{
            h1{
                font-size: 60px;
                margin-right: 0;
            }
        }
    }
}

@media screen and (max-width: 1200px){
    .section01{
        .texte{
            h1{
                font-size: 50px;
            }
            h2{
                font-size: 30px;
            }
        }
    }

}

@media screen and (max-width: 992px){
    .section01{
        height: auto;
        flex-direction: column;
        .image{
            width: 80%;
            background-color: #424afa00;
        }
        .texte{
            width: 100%;
            margin-top: 0;
            h1{
                font-size: 70px;
                margin-left: 0;
            }
            h2{
                font-size: 50px;
                margin-left: -40px;
            }
            .paragraphe{
                position: relative;
                margin-left: 0;
                margin-top: 100px;
            }
        }
    }
}

@media screen and (max-width: 768px){
    .section01{
        .image{
            width: 100%;
        }
        .texte{
            h1{
                font-size: 60px;
            }
            h2{
                font-size: 40px;
            }
        }
    }
}

@media screen and (max-width: 576px){
    .section01{
        .texte{
            h2{
                font-size: 30px;
            }
        }
    }
}


// Animation titres section01

.line{
    display: inline-block;
    padding: 0px 50px 0px 40px;
    position: relative;
    margin-top: 5px;
    z-index: 10002;
}

.section01 .line::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 67%;
    background: #424afa; 
    z-index: -1;
    transform: scaleX(0); 
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
    }

.section01 .line:hover::after {
    transform: scaleX(1);
}


// Section02

.section02{
    position: relative;
    z-index: 10050;
    display: flex;
    justify-content: space-between;
    .image{
        background-color: #424afa;
        width: 50%;
        .projets{
            margin-top: 250px;
            margin-left: 10%;
            width: 190%;
            .projet{
                width: 75vw;
                height: 92vh;
                overflow: hidden;
                object-fit: cover;
                img{
                    object-fit: cover;
                    object-position: top center;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    box-shadow: -5px -5px 10px #000000a4;
                }
            }
            .voir-plus{
                position: relative;
                background-color: $fond;
                margin-left: -4%;
                margin-top: -2%;
                width: 80vw;
                height: 99vh;
                display: flex;
                justify-content: center; 
                align-items: center;
                color: #ffffff;
                font-size: 30px;
                p{
                    text-align: center;
                    &:hover{
                        color: $bleu;
                    }
                }
            }
        }
    }
    .texte{
        width: 50%;
        .separateur{
            margin-top: 100px;
            margin-bottom: 50px;
            margin-right: -50%;
        }       
    }
}

.wrapper{
    height: 85vh;
}

.list{
    position: relative;
}

.item{
    position: absolute;
}


@media screen and (max-width: 992px){
    .section02{
        .image{
            background-color: #424afa00;
            .projets{
                margin-top: 300px;
                margin-left: 0%;
                .projet{
                    width: 100vw;
                }
                .voir-plus{
                    width: 100vw;
                }
            }
            }
        }
        .wrapper{
            height: 100vh;
        }
        .texte{
            .separateur{
                margin-bottom: 150px;
                margin-right: -50%;
                margin-left: -200%;
            }       
    }
}

@media screen and (max-width: 576px){
    .section02{
        .image{
            .projets{
                margin-top: 200px;
                // margin-left: 50px;
            }
        }
        
    }
}


// Section03

.separateur2{
    position: relative;
    z-index: 10070;
    width: 53%;
    margin-top: -100px;
}

.section03{
    position: relative;
    z-index: 10070;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
    margin-top: 50px;
    
    .image{
        width: 50%;
        object-fit: cover;
        margin-left: -50px;
    }
    .texte{
        width: 45%;
        h2{
            font-size: 80px;
            font-family: 'Bion-bold', sans-serif;
            margin: 0;
        }

        .lien-contact{
            margin-top: 50px;
            text-align: center;
            a{
                color: #ffffff;
                font-size: 20px;
            }
        }
        .line{
            display: inline-block;
            position: relative;
        }
    
        a .line::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 50%;
            width: 10px;
            height: 10px;
            background: $bleu;
            z-index: -1;
            opacity: 0;
            border-radius: 50%;
            transform: scale(0); 
            transform: translate(-50%, -50%) scale(0);
            transition: transform 0.3s ease-in-out, opacity 1s ease;
            }
        
        a .line:hover::after {
            transform: translate(-50%, -50%) scale(13);
            opacity: 0.9;
        }
    }     
    p{
        font-size: 16px;
    }
}

  @media screen and (max-width: 992px){
    .separateur2{
        width: 150%;
        margin-top: -100px;
    } 
    .section03{
        flex-direction: column;
        margin-top: 80px;
        .image{
            width: 100%;
            margin-left: 0;
            margin-top: -50px;
        }
        .texte{
            width: 100%;
            margin-top: 80px;
            
            h2{
                font-size: 50px;
            }
        }
    }
}