@use "../base/variables" as *;

.portfolio{
    position: relative;
    z-index: 10007;
    margin-top: 100px;
    form {
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 30px;
        button{
            background-color: $fond;
            border: 1px solid $bleu;
            border-radius: 50px;
            padding: 8px 15px 8px 15px;
            color: $bleu;
            font-family: 'Bion-book', sans-serif;
            font-size: 12px;
            cursor: pointer;
            margin: 0 5px 10px 5px;
            &:hover{
                background-color: $bleu;
                color: #ffffff;
            }
        }         
        .filtre-actif{
            background-color: $bleu;
            color: #ffffff;
        }
    }
    h1{
        font-size: 80px;
        text-align: center;
    }
    .container-custom{
        width: 95%;
        margin: auto;
    }
    .projets{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .projet{
            position: relative;
            width: 100%;
            aspect-ratio: 1 / 1;
            overflow: hidden;
            .overlay{
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                background-color: #424afa;
                opacity: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                transform: translate(-50%, -50%) scale(0);
                transition: transform 1s ease, opacity 1s ease;
                p{
                    color: #ffffff;
                    font-family: 'Bion-bold', sans-serif;
                    font-size: 13px;
                }
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &:hover .overlay{
                opacity: 0.8;
                transform: translate(-50%, -50%) scale(2);
            }

            
        }
    }
}

@media screen and (max-width: 1200px){
    .categorie-show{
        .projets{
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .portfolio{
        form{
            width: 95%;
        }
        .projets{
            grid-template-columns: repeat(1, 1fr);
        }
    }
}